
module httpd_te 1.0;

require {
	type cgroup_t;
	type zabbix_agent_t;
	class file open;
}

#============= zabbix_agent_t ==============
allow zabbix_agent_t cgroup_t:file open;
